table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #004085;
  color: rgb(187, 173, 173);
}

th, td {
  padding: 10px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #dbeafe;
  transition: background-color 0.3s ease;
}
